<!DOCTYPE html>
<html lang="en">
  <%- include("./include/head.ejs") %>
  <body>
    <%- include("./include/nav.ejs") %>
    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>

    <%- include("./include/footer.ejs") %>

    <script>
      const id = document.querySelector("a.delete");
      id.addEventListener("click", (e) => {
        const endpoint = `/blogs/${id.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((res) => {
            res.json();
          })
          .then((data) => console.log(data))
          .catch((e) => console.log(e));
      });
    </script>
  </body>
</html>
