<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head.ejs') %>
  <body>
    <%- include('../include/nav.ejs') %>
    <div class="blogs content">
      <% if (blogs.length > 0) { %> <%blogs.forEach(blog => { %>
      <a href="/blogs/<%= blog._id %> ">
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
      </a>
      <% }); %> <% }else{ %>
      <p>No posts found!</p>
      <% } %>
    </div>
    <%- include('../include/footer.ejs') %>
  </body>
</html>
